body {
    background-color: rgba(235, 227, 243, 0.37);
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    margin-top: 3em;
}

/*CONTENT BOX*/

.content {
    text-align: center;
    align-items: center;

    width: 40%;

    background-color: rgba(235, 227, 243, 0.40);
    flex-direction: column;
    display: flex;
    padding: 1em 2em;

    border-radius: 10%;
    font-size: 2em;
    line-height: 2em;
    font-family: 'Montserrat', sans-serif;
    color: #2A2A2A;
}

.photo {
    width: 100px;
    border-radius: 50%;
}

span {
    display: inline-block;
}

/*LINKS*/
a {
    text-decoration: none;
    color: #2A2A2A;
}

a:hover {
    color: #111013;
}

/*FOR MOBILE!*/

@media only screen and (max-width: 500px) {
    .content {
        font-size: 1.3em;
        width: 60%;

    }
    .parent {

    }
}

@media only screen and (max-width: 350px) {
    .content {
        font-size: 1em;
        width: 60%;
    }
}
